<html>

<head>
    <title>Invitation</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <style>
        .boxed {
            border: 1px solid black;
            padding: 20px 30px 50px;
        }

        .logo {
            text-align: center;
            margin: 10% auto;
        }

        .logo img {
            width: 60%;
            margin: 2%;
            min-width: 200px;
        }

        @media screen and (max-width: 600px) and (min-width: 320px) {
            .logo {
                max-width: 200px !important;
            }
        }
    </style>
</head>

<body style="background-color: #FFFDF7; padding: 2% 2%; text-align: center;">

<div
        style="display:block; text-align: left; border: 1px solid black; padding: 3% 3% 5% 3%; margin: auto auto; max-width:45%; min-width: 320px;">

    <div class="logo">
        <img alt="" src="{{logo_url}}">
    </div>

    <p style="color: #58595B; font-size: 18px; font-family: Montserrat; font-weight: 600; margin-bottom: 30px;">Hi,</p>
    </p>

    <p
            style="color: #6E6F71; font-size: 18px; font-family: Montserrat; font-weight: 500; margin-bottom: 30px; line-height: 30px;">
        {{first_name}} has invited you to join REMOTEBASEHQ. Start to Create Social Network Brand Equity through
        Honesty.
        <br> <br>
        Download app from link below:<br>
        <a href="https://itunes.apple.com/us/app/jvstfamous/id1374247259?ls=1&mt=8/"
           style="text-decoration: none;">https://itunes.apple.com/us/app/jvstfamous/id1374247259?ls=1&mt=8/</a>
        <br></p>
    <p
            style="color: #58595B; font-size: 18px; font-family: Montserrat; font-weight: 600; line-height: 30px; margin-bottom: 0;">
        Thanks,</p>
    <p
            style="color: #6E6F71; font-size: 18px; font-family: Montserrat; font-weight: 500; line-height: 30px; margin-bottom: 0; margin-top: 0;">
        REMOTEBASEHQ Team</p>
    <a href="http://www.remotebasehq.com"
       style="font-size: 18px; font-family: Montserrat; font-weight: 500; line-height: 30px; text-decoration: none;">www.remotebasehq.com</a>

</div>
</body>

</html>
