<html>

<head>
    <title>Privacy Policy</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <style>
        * {
            font-family: Montserrat;
        }

        .mainHeading {
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }

        .heading {
            font-weight: 700;
            font-size: 16px;
        }

        .indent {
            text-indent: 0.5in;
        }

        ul.dashed {
            list-style-type: none;
        }

        ul.dashed > li {
            text-indent: -5px;
        }

        ul.dashed > li:before {
            content: "-";
            text-indent: -5px;
        }
    </style>
</head>

<body>
<h1 class="mainHeading">remotebasehq Inc. - Privacy Policy</h1>
<br/>
<p>
    <u>Language</u>: This agreement was written in English (US). To the extent any translated version of this
    agreement
    conflicts with the English version, the English version controls.
</p>
<p>
    <u>Date of Last Revision</u>: January 24, 2019
</p>
<P>
    <u>remotebasehq</u>: Any reference to “remotebasehq” includes both remotebasehq the company and REMOTEBASEHQ the
    app.
</P>
<p>
    <u>Principles</u>: This Privacy Policy derives from the remotebasehq Principles and governs our relationship with
    our users, as well as anyone else who interacts with remotebasehq Services (“Services”). This Statement is an
    agreement between you and remotebasehq Inc. By using or accessing remotebasehq, you agree to this Statement, as
    updated from time to time. For the purposes of this document, “remotebasehq” or “we” or “our” means remotebasehq
    Inc. and its subsidiaries.
</p>
<p class="indent">
    Because remotebasehq provides a wide range of Services, we may ask you to review and accept
    supplemental policy
    updates that apply to your interaction with a specific app, product, or service. To the extent those
    supplemental terms conflict with this SRR, the supplemental terms associated with the app, product, or service
    govern with respect to your use of such app, product or service to the extent of the conflict.
</p>
<p class="indent">
    Your privacy is very important to us. We designed our Data Policy to make important disclosures about how you
    can use remotebasehq to share with others and how we collect and can use your content and information. We
    encourage you to read the Privacy Policy, and to use it to help you make informed decisions. This Privacy
    Policy describes how your information is collected, used and shared when you use the Service. The Service is
    intended for use by individuals and organizations and in accordance with its instructions.
</p>
<p class="indent">
    We believe you should always know what data we collect from you and how we use it, and that you should have
    meaningful control over both. We want to empower you to make the best decisions about the information that you
    share with us. That’s the purpose of this Privacy Policy. You should read this policy in full, but here are a
    few key things we hope you take away from it:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;remotebasehq is public and any posted information may be immediately publicly
        viewable and searchable.
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;When you use remotebasehq, even if you’re just reviewing ratings, we receive some
        personal information from
        you like the type of device you’re using and your IP address. You can choose to share additional
        information with us like your email address, phone number, address book contacts, and a public profile. We
        use this information for things like keeping your account secure and showing you more relevant people,
        organizations, events, and ads.
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;We give you control through your settings to edit the data we collect from you and
        how we use it, and to
        control things like account security and any content you may have uploaded to remotebasehq.
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;In addition to information you share with us, we may use content you’ve posted,
        read, and other information
        to determine what topics you’re interested in, your age, the languages you speak, and other signals to show
        you more relevant content. We give you transparency into that information, and you can modify or correct it
        at any time.
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;If you have questions about this policy, how we collect or process your personal
        data, or anything else
        related to our privacy practices, we want to hear from you. You can contact us at any time.
    </li>
</ul>
<h1 class="heading">
    <u>Overview of Our Privacy Policy</u>
</h1>
<p>
    <u>What kind of information is collected</u>: We may collect the following kinds of information when you or
    other users access our Service:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;contact information, such as full name and email address;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;username and password;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;any other information you volunteer in the remotebasehq application;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;the content, communications, and other information you may provide when you use the
        Service, including when
        you sign up for an account, create or share content, or provide ratings. This can include information in or
        about the content you provide (such as metadata);
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;content, communications, information, and ratings that other people provide when
        they use the Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;any communications with other users of the Service; and
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;information that you provide when you contact or engage platform support regarding
        the Service.
    </li>
</ul>
<p>
    <u>How do we use this information</u>: We collect this in order to provide and support better services.
    Examples of such use include:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;communicating with users and administrators regarding use of the Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;enhancing the security and safety of the Service for you and other users, such as
        by investigating
        suspicious activity or violations of applicable terms or policies;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;personalizing your and other users’ experiences as part of our provision of the
        Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;developing new tools, products or services within the Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;associating activity on the Service across different devices operated by the same
        individual to improve the
        overall operation of the Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;to identify and fix bugs; and
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;conducting data and system analytics, including research to improve the Service.
    </li>
</ul>
<p>
    <u>Disclosure of information</u>: We may disclose the information collected in the following ways:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;to third-party service providers that assist in providing the Service or part of
        the Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;to third-party apps, websites, or other services that you connect to through the
        Service;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;in connection with a substantial corporate transaction, such as the transfer of the
        Service, a merger,
        consolidation, asset sale, or in the unlikely event of bankruptcy or insolvency;
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;to protect the safety of any person; to address fraud, security or technical
        issues; and
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;in connection with a subpoena, warrant, discovery order, or other request or order
        from a law enforcement
        agency.
    </li>
</ul>
<p>
    <u>Accessing And Modifying Your Information</u>: You may access, correct, or delete information that you have
    uploaded to the Service using the tools within the Service (for example, editing your profile information). If
    you are not able to do so using the tools provided in the Service, you should contact us directly to access or
    modify your information.
</p>
<p>
    <u>Third-Party Links and Content</u>: The Service may contain links to content maintained by third parties that
    we do not control. You should review the privacy policies of each website that you visit.
</p>
<h1 class="heading">
    <u>Detailed Explanation of Our Privacy Policy</u>
</h1>
<p>
    <u>Information You Share With Us</u>: We require certain information to provide our services to you. For
    example, you must have an account in order to participate or share content on remotebasehq. When you choose to
    share the information below with us, we collect and use it to operate our services.
</p>
<p>
    <u>Basic Account Information</u>: If you do choose to create an account, you must provide us with some personal
    data so that we can provide our services to you. This may include a display name, a username, a password, and
    an email address or phone number.
</p>
<p>
    <u>Public Information</u>: The ratings you provide on remotebasehq are reflected in the public rating of any
    applications for which you have provided ratings. No other information about your profile is made public by the
    Remotebasehq application. Any ratings you contribute to any account will remain part of that account for as long
    as it remains on remotebasehq. You are responsible for your ratings and other information you provide through our
    services, and you should think carefully about what you make public, especially if it is sensitive information.
</p>
<p>
    <u>Third Party API</u>: In addition to providing your public information to the world directly on remotebasehq,
    we may also use technology like application programming interfaces (APIs) and embeds to make that information
    available to websites, apps, and others for their use – for example, displaying content on a news website or
    analyzing what people say on remotebasehq. We generally make this content available in limited quantities for
    free and charge licensing fees for large-scale access. We have standard terms that govern how this data can be
    used, and a compliance program to enforce these terms. But these individuals and companies may not be
    affiliated with remotebasehq, and their offerings may not reflect updates you make on remotebasehq. For more
    information about how we make public data on remotebasehq available to the world, visit
    <a href="https://www.remotebasehq.com">www.remotebasehq.com</a>.
</p>
<p>
    <u>Contact Information</u>: We use your contact information, such as your email address or phone number, to
    authenticate your account and keep it - and our services - secure, and to help prevent spam, fraud, and abuse.
    We also use contact information to personalize our services, enable certain account features (for example, for
    login verification), and to send you information about our services. If you provide us with your phone number,
    you agree to receive text messages from remotebasehq to that number as the law allows. remotebasehq may also use
    your contact information to market to you as allowed by law. You can use your settings for email and mobile
    notifications to control notifications you receive from remotebasehq. You can also unsubscribe from a
    notification by following the instructions contained within the notification. We may also use this information
    to better recommend content to you and others.
</p>
<p>
    <u>Email</u>: If you email us, we will keep the content of your message, your email address, and your contact
    information to respond to your request.
</p>
<p>
    <u>Payment Information</u>: You may provide us with payment information, including your credit or debit card
    number, card expiration date, CVV code, and billing address, in order to purchase advertising or other
    offerings provided as part of our services.
</p>
<p>
    <u>Additional Information We Receive About You</u>: We may receive certain information when you use our
    services or other websites or mobile applications that include our content, and from third parties including
    advertisers. Like the information you share with us, we use the data below to operate our services.
</p>
<p>
    <u>Location Information</u>: We may use information about your signup and current location, which we may get
    from signals such as your IP address or device settings, to securely and reliably set up and maintain your
    account and to provide our services to you. Subject to your settings, we may collect, use, and store additional
    information about your location - such as your current precise position or places where you’ve previously used
    remotebasehq - to operate or personalize our services including with more relevant content like local trends,
    stories, ads, and suggestions for people to follow.
</p>
<p>
    <u>Links</u>: In order to operate our services, we keep track of how you interact with links across our
    services. This includes links in emails we send you and links in our content. If you click on an external link
    or ad on our services, that advertiser or website operator might be able to ascertain that you came from
    remotebasehq, along with other information associated with the ad you clicked such as characteristics of the
    audience it was intended to reach. They may also collect other personal data from you, such as cookie
    identifiers or your IP address.
</p>
<p>
    <u>Cookies</u>: A cookie is a small piece of data that is stored on your computer or mobile device. Like many
    websites, we may use cookies and similar technologies to collect additional website usage data and to operate
    our services. Cookies are not required for many parts of our services such as searching and looking at public
    profiles. Although most web browsers automatically accept cookies, many browsers’ settings can be set to
    decline cookies or alert you when a website is attempting to place a cookie on your computer. However, some of
    our services may not function properly if you disable cookies. When your browser or device allows it, we may
    use both session cookies and persistent cookies to better understand how you interact with our services, to
    monitor aggregate usage patterns, and to personalize and otherwise operate our services such as by providing
    account security, personalizing the content we show you including ads, and remembering your language
    preferences.
</p>
<p>
    <u>Other Third Parties and Affiliates</u>: We may receive information about you from third parties who are not
    our ad partners, such as others on remotebasehq, partners who help us evaluate the safety and quality of content
    on our platform, our corporate affiliates, and other services you link to your remotebasehq account. You may
    choose to connect your remotebasehq account to accounts on another service, and that other service may send us
    information about your account on that service. We may use the information we receive to provide you features
    like cross-posting or cross-service authentication, and to operate our services.
</p>
<p>
    <u>Personalizing Across Your Devices</u>: When you log into remotebasehq on a browser or device, we will
    associate that browser or device with your account for purposes such as authentication, security, and
    personalization. Subject to your settings, we may also associate your account with browsers or devices other
    than those you use to log into remotebasehq (or associate your logged-out device or browser with other browsers
    or devices). We do this to operate and personalize our services. For example, if you visit websites with sports
    content on your laptop, we may show you sports-related ads.
</p>
<p>
    <u>How You Control Additional Information We May Receive</u>: To the extent the relevant features are available
    in the App, your remotebasehq Personalization and data settings may let you decide the following. As these
    features are added over time, each of the below settings may or may not yet be available:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Whether we show you interest-based ads on and off remotebasehq
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;How we personalize your experience across devices
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Whether we collect and use your precise location
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Whether we personalize your experience based on where you’ve been
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Whether we keep track of the websites where you see remotebasehq content
    </li>
</ul>
<p>
    <u>We may use Your remotebasehq data to review</u>:
</p>
<ul class="dashed">
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Advertisers who have included you in tailored audiences to serve you ads
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Demographic and interest data about your account from our ads partners
    </li>
    <li>
        &nbsp;&nbsp;&nbsp;&nbsp;Information that remotebasehq may have inferred about you such as your age range,
        gender, languages, and interests
    </li>
</ul>
<p>
    <u>Information We Share and Disclose</u>: As noted above, remotebasehq is designed to broadly and instantly
    disseminate information you may share publicly and ratings you provide through our services. In the limited
    circumstances where we may disclose your private personal data, we do so subject to your control, because it’s
    necessary to operate our services, or because it’s required by law.
</p>
<p>
    <u>Sharing Your Control</u>: We may share or disclose your personal data with your consent or at your
    direction, such as when you authorize a third-party web client or application to access your account or if you
    direct us to share your feedback with a business. If you’ve shared information with someone else who accesses
    remotebasehq through a third-party service, keep in mind that the information may be shared with the third-party
    service. Subject to your settings, we may also provide certain third parties with personal data to help us
    offer or operate our services. For example, we may share with advertisers the identifiers of devices that saw
    their ads, to enable them to measure the effectiveness of our advertising business. We may also share device
    identifiers, along with the interests or other characteristics of a device or the person using it, to help
    partners decide whether to serve an ad to that device or to enable them to conduct marketing, brand analysis,
    interest-based advertising, or similar activities. You can learn more about these partnerships in our Help
    Center. The information we may share with these partners does not include your name, email address, phone
    number, or remotebasehq username, but some of these partnerships may allow the information we may share to be
    linked to other personal information if the partner gets your consent first.
</p>
<p>
    <u>Service Providers</u>: We may engage service providers to perform functions and provide services to us in
    theUnited States. For example, we may use a variety of third-party services to help operate our services, such
    as hosting our various blogs and wikis, and to help us understand the use of our services, such as Google
    Analytics. We may share your private personal data with such service providers subject to obligations
    consistent with this Privacy Policy and any other appropriate confidentiality and security measures, and on the
    condition that the third parties use your private personal data only on our behalf and pursuant to our
    instructions. We may share your payment information with payment services providers to process payments;
    prevent, detect, and investigate fraud or other prohibited activities; facilitate dispute resolution such as
    chargebacks or refunds; and for other purposes associated with the acceptance of credit and debit cards.
</p>
<p>
    <u>Law, Harm, and the Public Interest</u>: Notwithstanding anything to the contrary in this Privacy Policy or
    controls we may otherwise offer to you, we may preserve, use, or disclose your personal data if we believe that
    it is reasonably necessary to comply with a law, regulation, legal process, or governmental request; to protect
    the safety of any person; to protect the safety or integrity of our platform, including to help prevent spam,
    abuse, or malicious actors on our services, or to explain why we have removed content or accounts from our
    services; to address fraud, security, or technical issues; or to protect our rights or property or the rights
    or property of those who use our services. However, nothing in this Privacy Policy is intended to limit any
    legal defenses or objections that you may have to a third party’s, including a government’s, request to
    disclose your personal data.
</p>
<p>
    <u>Affiliates and Change of Ownership</u>: In the event that we are involved in a bankruptcy, merger,
    acquisition, reorganization, or sale of assets, your personal data may be sold or transferred as part of that
    transaction. This Privacy Policy will apply to your personal data as transferred to the new entity. We may also
    disclose personal data about you to our corporate affiliates in order to help operate our services and our
    affiliates’ services, including the delivery of ads.
</p>
<p>
    <u>Non-Personal Information</u>: We may share or disclose non-personal data, such as aggregated information
    like the total number of times people engaged with remotebasehq, the number of people who clicked on a particular
    link or provided a ranting, the topics that people are ranking in a particular location, or reports to
    advertisers about how many people saw or clicked on their ads.
</p>
<p>
    <u>Managing Your Personal Information with Us</u>: You control the personal data you share with us. You can
    access or rectify this data at any time. You can also deactivate your account. We also provide you tools to
    object, restrict, or withdraw consent where applicable for the use of data you have provided to remotebasehq. And
    we make the data you shared through our services portable and provide easy ways for you to contact us.
</p>
<p>
    <u>Accessing or Rectifying Your Personal Data</u>: If you have registered an account on remotebasehq, we provide
    you with tools and account settings to access, correct, delete, or modify the personal data you provided to us
    and associated with your account.
</p>
<p>
    <u>Account Closure</u>: If you choose to delete your account, your account will be deleted. We will not retain
    an active copy of your account after deletion, but you may choose to create a new account at any time. However,
    any ratings you have provided with your account will remain active after deletion. Keep in mind that search
    engines and other third parties may still retain copies of your public information, like your profile
    information and public rankings, even after you have deleted the information from our services. Our application
    and its database are backed up periodically for your security and reliability, and such backups may temporarily
    contain information regarding deleted accounts. Backups are not publicly accessible.
</p>
<p>
    <u>Manage Privacy Settings</u>: When you are logged into your remotebasehq account, you can manage your profile
    at any time.
</p>
<p>
    <u>Additional Information or Assistance</u>: Thoughts, questions, or concerns about our Privacy Policy? Please
    let us know by contacting us at support@remotebasehq.com. We will review your email and will make our best effort
    to respond, although we cannot guarantee a response to all emails. If you wish to raise a concern about our use
    of your information (and without prejudice to any other rights you may have), you have the right to do so with
    your local supervisory authority.
</p>
<p>
    <u>Children and Our Services</u>: Our services are not directed to children, and you may not use our services
    if you are under the age of 17. You must also be old enough to consent to the processing of your personal data.
</p>
<p>
    <u>Changes to This Privacy Policy</u>: We may revise this Privacy Policy from time to time. The most current
    version of the policy will govern our processing of your personal data and will always be available inside the
    REMOTEBASEHQ application. By continuing to access or use the Services after those changes become effective, you
    agree to be bound by the revised Privacy Policy.
</p>
<p>
    <u>European Private Data</u>: We do not manage European Personal Data, therefore our services are not allowed
    for European Citizens. Moreover, the App is only available for download in the US App Store, and governed by
    the US Laws.
</p>
<p>
    For more information about REMOTEBASEHQ, please visit
    <a href="https://www.remotebasehq.com">www.remotebasehq.com</a>.
</p>
</body>

</html>
